python-dotenv
aiogram
gspread
google-auth
pydantic-settings
sqlalchemy
aiosqlite
apscheduler
loguru
redis>=5.0.0
pillow
deep-translator
pytest
pytest_asyncio==0.23.5.post1
aiohttp==3.9.3
aiohttp-cors==0.7.0
openai>=1.0.0
alembic
telethon
